/* Side Menu*/
/* https://codepen.io/bradtraversy/pen/ExjZQZL */
/* 
 */



.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px;
  background-color: #25282C;
  transition: width 0.3s ease-in-out;
}

.side-menu.open {
  width: 200px;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

.menu {
  margin-top: 250px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.menu a:hover {
  background-color: #666;
}

.sidebar-m{
  margin: 0 max(33%, 20px) 0 0;
}
